apiVersion: v1
kind: Service
metadata:
  name: node-app-service
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  selector:
    app: node-app
  ports:
    - name: http
      port: 80
      targetPort: 3000
  type: NodePort